body {
  background-color: #4d4d4d;
  color:inherit;
  margin: 0;
}

.sep {
  margin-top: 30px;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  color: white;
  background-color: inherit
}

.back {
  background-image: url(miami.png);
  background-size: cover;
  background-repeat: no-repeat
}

.background-image {
  background-position: center
}

nav {
  text-align: center;
  font-weight: bold;
  background-color: black;
  padding-bottom: 30px;
  color: white
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  display: block;
  color: white;
  background-color: inherit;
  text-decoration: none
}

li {
  float: left
}

.container {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 50px;
  padding-right: 50px;
}

.para {
  padding-left: 10px;
  color: white;
  background-color: inherit;
  font-weight: bold;
  font-size: 17px
}

.box1 {
  order: 1;
  padding-left: 10px;
}

.box2 {
  order: 2;
  padding-right: 10px
}

.box3 {
  order: 3;
}

/*Tablet Mode*/
@media only screen and (max-width: 1200px) {
  body {
    width: 100%;
  }
}

/*Phone*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  body {
    float: none;
  }
}
